In [91]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

In [63]:
label_encoder=LabelEncoder()

In [64]:
data=pd.read_csv("./Mall_Customers.csv")
data["Genre"]=label_encoder.fit_transform(data["Genre"])
data.rename(columns={"Genre":'Gender'},inplace=True)

In [65]:
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1       1   19                  15                      39
1           2       1   21                  15                      81
2           3       0   20                  16                       6
3           4       0   23                  16                      77
4           5       0   31                  17                      40

In [66]:
print("SIZE OF DATA IS->",data.size)
print("HAPE OF DATA IS->",data.shape)
print("NUMBER OF DUPLICATE ROW IN DATA->",data.duplicated().sum())

SIZE OF DATA IS-> 1000
HAPE OF DATA IS-> (200, 5)
NUMBER OF DUPLICATE ROW IN DATA-> 0

In [67]:
data.describe()

,CustomerID,Gender,Age,Annual Income (k$),Spending Score (1-100)
count,200.000000,200.000000,200.000000,200.000000,200.000000
mean,100.500000,0.440000,38.850000,60.560000,50.200000
std,57.879185,0.497633,13.969007,26.264721,25.823522
min,1.000000,0.000000,18.000000,15.000000,1.000000
25%,50.750000,0.000000,28.750000,41.500000,34.750000
50%,100.500000,0.000000,36.000000,61.500000,50.000000
75%,150.250000,1.000000,49.000000,78.000000,73.000000
max,200.000000,1.000000,70.000000,137.000000,99.000000

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    int32
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int32(1), int64(4)
memory usage: 7.2 KB

In [69]:
data.isnull().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [70]:
df=pd.DataFrame(data)

In [71]:
X=df["Annual Income (k$)"]
y=df["Spending Score (1-100)"]

In [85]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

print("THIS IS TYPE OF X_train->",type(X_train))
print("THIS IS TYPE OF Y_train->",type(y_train))

THIS IS TYPE OF X_train-> <class 'pandas.core.series.Series'>
THIS IS TYPE OF Y_train-> <class 'pandas.core.series.Series'>

In [86]:
X_train=X_train.values.reshape(-1,1)
y_train=y_train.values.reshape(-1,1)
X_test=X_test.values.reshape(-1,1)
y_test=y_test.values.reshape(-1,1)

In [88]:
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [89]:
y_pred=model.predict(X_test)

In [92]:
mse=mean_squared_error(y_test,y_pred)
r2=r2_score(y_test,y_pred)

print("Mean Squred Error is->",mse)
print("R-Squered is ->",r2)

Mean Squred Error is-> 604.5250448949915
R-Squered is -> 2.4737990883094696e-05